---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/** Noto Sans KR 폰트 적용 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

.messagebox{
  position: relative;
  padding: 1em;
  background-color: #364463;
  font-size: 0.7em !important;
  line-height: 1.8;
  border-radius: 4px;
}