/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

/*
   Customizing table - 2022-08-30
   ========================================================================== */
thead {
  background-color: $primary-color; // default : border-color
  border-bottom: 2px solid mix(#000, $border-color, 25%);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
}


/*
   Customizing table - 2022-08-30
   ========================================================================== */
td {
  padding: 0.5em;
  border-bottom: 1px solid mix(#000, $border-color, 25%);
  border-right: 1px solid mix(#000, $border-color, 25%); // 추가
}

tr,
td,
th {
  vertical-align: middle;
}

/*
   Customizing table - 2022-08-30
   ========================================================================== */
td:last-child {
  border-right: none;
}